{% extends "base.html" %}

{% block title %} Create An Account {% endblock %}

{% block main_content %}


<form action="" method="post" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Create an account</h2>
    <!--
        #########################
        #########################
        HOW DO I DO ERRORS BETTER
        #########################
        #########################
    -->
    {% if form.errors %}
        <div class="alert alert-error clearfix">
            <ul class="pull-left">
                {% if form.errors.username %}<li>Invalid Username </li>{% endif %}
                {% if form.errors.email %}<li>Invalid Email</li>{% endif %}
                {% if form.errors.Password1 %}<li>Invalid Password</li>{% endif %}
                {% if form.errors.Password2 %}<li>Confirm Password Doesn't Match</li>{% endif %}
            </ul>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
    {% endif %}
    <input type="text" class="input-block-level" placeholder="Username" name="username" maxlength="30">
    <input type="text" class="input-block-level" placeholder="Email Address" name="email">
    <input type="password" class="input-block-level" placeholder="Password" name="password1">
    <input type="password" class="input-block-level" placeholder="Password Confirmation" name="password2">

    <button class="btn btn-large btn-primary" type="submit">Create Account</button>
</form>



{% endblock %}